.video-animasi-p {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #2c2c2c;
    display: block;
    margin-top: 45%;
    margin-left: 5%;
}
.video-animasi {
    display: block;
    margin: 0 auto;
    width: 95%;
    border-radius: 12px;
}