.full-image {
  width: 50%;
  display: block;
  margin-left: 5%;
  margin-top: 10%;
}

/*Burger icon*/
.burger-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 8%;
    margin-right: 6%;
    margin-top: 5%;
}

/*Khusus untuk card container definisi pernikahan*/
.general-penjelasan {
    width: 99%;
    display: block;
    margin: 0 auto;
    background-color: white;
    margin-top: 45%;
    padding-bottom: 1%;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2)
}
.general-img {
    width: 88%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -115px;
    border-radius: 40px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2)
}
.general-title {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28%;
    text-align: center;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.general-paragraph {
    display: block;
    text-align: justify;
    font-size: 0.98em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0 5%;
}
.general-paragraph.ul-risiko{
    text-align: left;
}

/*Back arrow*/
.back-arrow {
    margin-top: 10%;
    margin-left: 1%;
    width: 8%;
}